<section class='banner'>
	<ul class='slide-wrapper'>
		<% var i = 0;
			for (var slide in slides) { %>
			<li data-slide-id='<%- slides[slide].newsId %>' class='slide-container slide' style='background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)), url(/images/banners/<%- slides[slide].image %>);'>
				<div class='banner-text-container'>
					<h2 class='banner-title'><%- slides[slide].title %></h2>
					<h5 class='banner-subtitle'><%- slides[slide].subtitle %></h5>
					<% if (slides[slide].buttonTitle != null && slides[slide].buttonTitle != "") { console.log(slides[slide].buttonTitle); %>
						<div class='banner-button-container'> <a href='news/<%- slides[slide].newsId %>' class='button'><%- slides[slide].buttonTitle %></a></div>
					<% } %>
				</div>
			</li>
		<% i++;} %>
	</ul>
</section>