<section class='event-information-wrapper'>
	<div class='event-information-header'>
		<%- event.name %>
	</div>
	<div class='event-information-container'>
		<div class='event-information'>
			<label class='event-information-label'>Location</label>
			<div class='event-information-data'><%- event.location %></div>
		</div>
		<div class='event-information'>
			<label class='event-information-label'>Date</label>
			<div class='event-information-data'><%- event.dateString %></div>
		</div>
		<div class='event-information'>
			<label class='event-information-label'>Purse</label>
			<div class='event-information-data'>$<%- functions.numberWithCommas(event.purse) %> - (<%- event.currency %>)</div>
		</div>
		<div class='event-information'>
			<label class='event-information-label'>Format</label>
			<div class='event-information-data'><%- event.format %></div>
		</div>
		<div class='event-information'>
			<label class='event-information-label'>Teams</label>
			<div class='event-information-data'><%- event.teams %></div>
		</div>
		<div class='event-information'>
			<label class='event-information-label'>Champion</label>
			<div class='event-information-data'><%- event.champion %></div>
		</div>
	</div>
</section>
<section class='event-information-wrapper'>
	<div class='event-information-header'>
		Past Champions
	</div>
	<div class='event-information'>
		<% for (var champion in event.champions) { %>
			<%- event.champions[champion].name %>
		<% } %>
	</div>
</section>