<section class='rankings-section section'>
	<section class='sub-section'>
		<div class='section-header rankings-section-header'>
			<h2>Rankings</h2>
			<div class='rankings-select-container'>
				<div class='select-wrapper rankings-select-wrapper'>
					<select class='rankings-select'>
						<% for(var category in categories.years) { %>
							<option value='<%- categories.years[category].year %>'><%- categories.years[category].name %></option>
						<% } %>
					</select>
				</div>
				<div class='select-wrapper rankings-select-wrapper'>
					<select class='rankings-select'>
						<% for(var category in categories.categories) { %>
							<option value='<%- categories.categories[category] %>'><%- 	functions.capitalizeFirstLetter(categories.categories[category]) %></option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
		
		<div class='rankings-sub-section'>
			<div class='rankings-categories-container'>
				<h2 class='rankings-category-year-header'><span class='rankings-category'><%- functions.capitalizeFirstLetter(rankings.category) %></span> <span class='rankings-year'> - <%- rankings.yearName %></span></h2>
				<div class='tabs'>
					<div class='tab-title active'>Order of Merit</div>
					<div class='tab-title'>Money</div>
				</div>
			</div>
			<div class='rankings-points-section'>
				<table class='rankings-table'>
					<thead>
						<th class='rankings-table-header'>Rank</th>
						<th class='rankings-table-header'>Team</th>
						<th class='rankings-table-header'>YTD</th>
						<th class='rankings-table-header'>Total</th>

					</thead>
					<tbody>
						<%
						for (var team in rankings.rankings) { %>
							<tr>
								<td class='rankings-table-data rankings-table-data-rank'><%- rankings.rankings[team].rank %></td>
								<td class='rankings-table-data rankings-table-data-name'><%- rankings.rankings[team].name %> <span class='rankings-table-data-location'> <span class='hidden-mini-tablets'>-</span> <%- rankings.rankings[team].location %></span></td>
								<td class='rankings-table-data rankings-table-data-points'><%- rankings.rankings[team].ytdPoints.toFixed(3) %></td>
								<td class='rankings-table-data rankings-table-data-points'><%- rankings.rankings[team].totalPoints.toFixed(3) %></td>
							</tr>
						<% } %>
					</tbody>
				</table>
			</div>
			<div class='rankings-money-section'>
			</div>
			<a class='rankings-link' href='/rankings/'>See Full Rankings</a>
		</div>
		
	</section>
</section>