<div class='competition-list-container'>
	<ul class='competition-list'>
		<% for(var id in competitions) {%>
			<li class='competition-list-item <%= (activeCompetitionId == competitions[id].eventId ? "active" : "") %>' data-id='<%= competitions[id].eventId %>' onclick='showCompetition(<%= competitions[id].eventId %>);'>
				<div class='scores-tournament-category'>
					<div class='scores-tournament-category-title'><%= functions.divisionToProperTitle(competitions[id].division) %></div>
				</div>
				<div class='scores-tournament-info'>
					<div class='scores-tournament-name'><%= competitions[id].displayName %></div>
					<div class='scores-tournament-location'><%= competitions[id].location %></div>
				</div>
			</li>
		<%}%>
	</ul>
	<div class='left-arrow overflow-arrow hidden-desktop'><span class='fa fa-chevron-left'></span></div>
	<div class='right-arrow overflow-arrow hidden-desktop'><span class='fa fa-chevron-right'></span></div>
</div>
<script>
	currentCompetitionId = <%= activeCompetitionId %>;
</script>