<div class='competition-list-container'>
	<ul class='competition-list'>
		<% for(var id in competitions) {%>
			<li class='competition-list-item <%= (activeCompetitionId == id ? "active" : "") %>' data-id='<%= id %>' onclick='showCompetition(this, <%= id %>);'>
				<div class='scores-tournament-category'>
					<div class='scores-tournament-category-title'><%= competitions[id].category %></div>
				</div>
				<div class='scores-tournament-info'>
					<div class='scores-tournament-name'><%= competitions[id].name %></div>
					<div class='scores-tournament-location'><%= competitions[id].location %></div>
				</div>
			</li>
		<%}%>
	</ul>
	<div class='left-arrow overflow-arrow hidden-desktop'><span class='fa fa-chevron-left'></span></div>
	<div class='right-arrow overflow-arrow hidden-desktop'><span class='fa fa-chevron-right'></span></div>
</div>
<script>
	currentCompetitionId = <%= activeCompetitionId %>;
	currentDrawId = <%= activeDrawId %>;
</script>