<div class='scores-games-wrapper'>
	<% var games = competition.currentGames; 
	for (var i = 0; i < games.length; i++) { %>
		<div data-game-id='<%- games[i].gameId %>' class='game-container' onclick="showModalWithGameView(<%- games[i].gameId %>, '<%- games[i].homeTeamDisplayName %> vs <%- games[i].awayTeamDisplayName %>')">
			<div class='scores-teams-container'>
				<div class='scores-team-container'>
					<div class='scores-team-name'>
						<%- games[i].homeTeamShortName %> 
						<span data-hammer1><%- (games[i].homeHammer ? "<img src='/images/hammer.png'/>" : "") %></span>
					</div>
					<div data-score1 class='scores-score'><%- games[i].homeScore %> </div>
				</div>
				<div class='scores-team-container'>
					<div class='scores-team-name'>
						<%- games[i].awayTeamShortName %>
						<span data-hammer2><%- (games[i].awayHammer ? "<img src='/images/hammer.png'/>" : "") %></span>
					</div>
					<div data-score2 class='scores-score'><%- games[i].awayScore %></div>
				</div>
			</div>
			<div data-end class='scores-end-container <%- (games[i].statusText.indexOf("Final") !== -1 ? " scores-final " : (games[i].statusText.indexOf("Upcoming") !== -1 ? "scores-upcoming" : "")) %>'>
				<%- (games[i].statusText.indexOf("Upcoming") !== -1 ? functions.formatDate(competition.currentDrawTime, "dddd h:mmtt ") : (games[i].statusText.indexOf("Final") !== -1 ? "Final (" + games[i].currentEnd + ")" : functions.ordinal_suffix_of(games[i].currentEnd) + " end")) %>
			</div>						
		</div>
	<%}%>
</div>