<div class='scores-info-container active' data-scoreboard-section='scores'>
	<div class='scores'>
		<div data-draw-id='<%- competition.drawId %>' class='games-container'>
			<div class='select-wrapper scores-draw-wrapper'>
				<select class='game-time-name' onchange="updateDrawId(<%- competition.competitionId %>, $(this).val());">
					<% for (var draw in competition.draws) { %>
						<option value='<%- draw %>' class='game-time-name-option' <%- (draw == competition.drawId ? "selected" : "") %>><%- functions.formatDate(competition.draws[draw].time, "dddd h:mmtt ") %></option>
					<% } %>
				</select>
			</div>
			<% include scores-games %>
		</div>
	</div>
</div>