<div data-id='teams-table' class='general-sub-section'>
	<div class='teams-container'>
		<% for (var team in teams) { %>
			<div class='team-container-wrapper'>
				
				<div class='team-container'>
					<a class='full-link' href="/teams/<%- teams[team].teamId %>/"></a>
					<div class='team-image'>
						<img src='/images/players/<%- (teams[team].image != null && teams[team].image != "" ? teams[team].image : "default.png"); %>'/>
					</div>
					<div class='team-name'>
						<a class='team-name-link' href="/teams/<%- teams[team].teamId %>/"><%- teams[team].name %> <span class='team-location'> - <%- teams[team].location %></span></a>
						<% for (var player in teams[team].players) { %>
							<div class='team-player'><span class='team-player-position'><%- teams[team].players[player].position %>:</span><%- teams[team].players[player].name%></div>
						<% } %>
					</div>
				</div>
			</div>
		<% } %>
		<% if (teams.length == 0) { %>
			<p>No Teams Found</p>
		<% } %>
	</div>
</div>
