<div data-id='rankings-table' class='general-sub-section'>
	<div class='general-categories-container'>
		<h2 class='general-category-year-header'><span class='general-category'><%- functions.capitalizeFirstLetter(rankings.category) %></span> <span class='general-year'> - <%- rankings.yearName %></span></h2>
		<div class='tabs'>
			<div class='tab-title active'>Order of Merit</div>
			<div class='tab-title'>Money</div>
		</div>
	</div>
	<div class='rankings-points-section'>
		<table class='general-table'>
			<thead>
				<th class='rankings-table-header'>Rank</th>
				<th class='rankings-table-header'>Team</th>
				<th class='rankings-table-header'>YTD</th>
				<th class='rankings-table-header'>Total</th>

			</thead>
			<tbody>
				<%
				for (var team in rankings.rankings) { %>
					<tr>
						<td class='rankings-table-data rankings-table-data-rank'><%- rankings.rankings[team].rank %></td>
						<td class='rankings-table-data rankings-table-data-name'><%- rankings.rankings[team].name %> <span class='rankings-table-data-location'> <span class='hidden-mini-tablets'>-</span> <%- rankings.rankings[team].location %></span></td>
						<td class='rankings-table-data rankings-table-data-points'><%- rankings.rankings[team].ytdPoints.toFixed(3) %></td>
						<td class='rankings-table-data rankings-table-data-points'><%- rankings.rankings[team].totalPoints.toFixed(3) %></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
	<div class='rankings-money-section'>
	</div>
	<% if(typeof showLinkToFullRankings != "undefined") { %>
		<a class='rankings-link' href='/rankings/'>See Full Rankings</a>
	<% } %>
</div>
