<section class='rankings-section section general-section'>
	<section class='sub-section'>
		<div class='section-header general-section-header'>
			<h2>Rankings</h2>
			<div class='rankings-select-container'>
				<div class='select-wrapper rankings-select-wrapper'>
					<select class='rankings-select' data-id='rankings-year' onchange='updateRankingsTable(<%- (typeof numRankings !== "undefined" ? numRankings : 2000) %>, this.value, $("[data-id=rankings-category]").val(), <%- (typeof replaceHistory !== "undefined" && replaceHistory ? "true" : "false") %>)'>
						<% for(var category in categories.years) { %>
							<option value='<%- categories.years[category].year %>' <%- (rankings.year == categories.years[category].year ? " selected " : ""); %> ><%- categories.years[category].name %></option>
						<% } %>
					</select>
				</div>
				<div class='select-wrapper rankings-select-wrapper' >
					<select class='rankings-select' data-id='rankings-category' onchange='updateRankingsTable(<%- (typeof numRankings !== "undefined" ? numRankings : 2000) %>, $("[data-id=rankings-year]").val(), this.value, <%- (typeof replaceHistory !== "undefined" && replaceHistory ? "true" : "false") %>)'>
						<% for(var category in categories.categories) { %>
							<option value='<%- categories.categories[category] %>' <%- (rankings.category == categories.categories[category] ? "selected" : "") %>><%- 	functions.capitalizeFirstLetter(categories.categories[category]) %></option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
		<% include rankings-table %>
		<% if(typeof showLinkToFullRankings != "undefined") { %>
			<a class='rankings-link' href='/rankings/'>See Full Rankings</a>
		<% } %>
	</section>
</section>