<div data-id='schedule-table' class='general-sub-section'>
	<div class='schedule-points-section'>
		<table class='general-table'>
			<thead>
				<th class="schedule-table-header">Date</th>
				<th class="schedule-table-header">Tournament</th>
				<th class="schedule-table-header hidden-mini-tablets">Champion</th>
			</thead>
			<tbody>
				<%
				for (var event in schedule.events) { %>
					<tr class='general-table-row'>
						<td class='schedule-table-data schedule-table-data-date'>
							<span class='schedule-table-data-start-date'><%- schedule.events[event].startDate %></span> 
							- 
							<span class='schedule-table-data-end-date'><%- schedule.events[event].endDate %></span>
						</td>
						<td class='schedule-table-data schedule-table-data-name'>
							<a class='schedule-table-data-link' href="/events/<%- schedule.events[event].eventId %>/"><%- schedule.events[event].name %></a> 
							<span class='schedule-table-data-location'> <%- schedule.events[event].location %></span>
							- 
							<span class='schedule-table-data-purse'> $<%- functions.numberWithCommas(schedule.events[event].purse) %> (<%- schedule.events[event].currency %>) </span>
						</td>
						<td class='schedule-table-data schedule-table-data-champion hidden-mini-tablets'><%- schedule.events[event].champion %></td>
					</tr>
				<% } %>
			</tbody>
		</table>
	</div>
</div>
